<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css" >
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get the Latest News and Images</a></p>
    </div>

    <!-- Mars News -->
    <div class="row" id="mars_news">
      <div class="col-md-12">
        <h2 class="heading">Latest Mars News</h2>
        <a>{{ MarsData.news_title }}</a><Br>
        <small>{{ MarsData.news_p }}</small>
      </div>
    </div>

    <!-- Featured Image and Facts -->
    <div class="row" id="mars_features_and_facts">
      <div class="col-md-8">
        <h2 class="heading">Featured Image</h2>
        <img class="img_enhanced" src="{{ MarsData.featured_image_url }}" 
            class="img-responsive" alt="NASA JPL Daily Featured image" />
      </div>
      <div class="col-md-4">
        <h2 class="heading">Mars Facts</h2>
        {{ MarsData.mars_facts }} 
      </div>
    </div>

    <!-- Hemisphere Images -->
    <div class="col-md-12" id="images_title">
      <h2 class="heading">Hemisphere Images</h2>
      <div class="row">
        <div class="col-md-6">
          <img class="img_enhanced" src="{{ MarsData.hemisphere_image_urls[0].img_url }}" 
            class="img-responsive" alt="Enhanced high resolution image of Mars' Cerberus Hemisphere" />
          <h4 class="heading">{{ MarsData.hemisphere_image_urls[0].title }}</h4>
        </div>
        <div class="col-md-6">
          <img class="img_enhanced" src="{{ MarsData.hemisphere_image_urls[1].img_url }}" 
            class="img-responsive" alt="Enhanced high resolution image of Mars' Schiaparelli Hemisphere" />
          <h4 class="heading">{{ MarsData.hemisphere_image_urls[1].title }}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img class="img_enhanced" src="{{ MarsData.hemisphere_image_urls[2].img_url }}" 
            class="img-responsive" alt="Enhanced high resolution image of Mars' Syrtis Major Hemisphere" />
          <h4 class="heading">{{ MarsData.hemisphere_image_urls[2].title }}</h4>
        </div>
        <div class="col-md-6">
          <img class="img_enhanced" src="{{ MarsData.hemisphere_image_urls[3].img_url }}" 
            class="img-responsive" alt="Enhanced high resolution image of Mars' Valles Marineris Hemisphere" />
          <h4 class="heading">{{ MarsData.hemisphere_image_urls[3].title }}</h4>
        </div>
      </div>
    </div>

  </div>
</body>

</html>

